body, html {
  height: 100%;
  margin: 0;
  background-color: lightgray;
  }

#root {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.appHeadline {
  color: darkslateblue;
  text-shadow: 2px 2px 3px mediumslateblue;
}

.headlines {
  background-color: cornflowerblue;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  border: 1px solid #1a1a1a;
}

.tableContainer {
  width: 85vw;
  display: flex;
  justify-content: space-around;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.toDoCard {

  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: #fff;
  min-width: 20rem;
  min-height: 6rem;
}